@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../storage/img/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
.header {
}
.header__title {
}
.main {
}
.section__description {
}
.article__descrption {
}
.section__general {
}
.article__graphics {
}
.article__gallery__image {
}
.article__infromation_1 {
}
.article__infromation_2 {
}
.section__information {
}
.article__infromation {
}
.footer {
}
.select {
}
